{% extends "layout.html" %}

{% block main %}
    <div class="container">

        <div id="timer" class="section">-</div>

        <div class="section">
            <h2>Score: {{ points }}</h2>
            {% with messages = get_flashed_messages()%}
                {% if messages %}
                    {% for message in messages %}
                        <h3>{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <div class="section">

            <img src="{{ album }}" alt="Image not found">

        </div>

        <div class="section horizontal-container">
            <form action="/AlbumGuesser" method="post">
                <input class="form-control mx-auto w-auto" id="albumName" name="albumName" placeholder="Album Name" type="text" autofocus>
                <input class="form-control mx-auto w-auto" id="artistName" name="artistName" placeholder="Artist Name" type="text">
                <input class="form-control mx-auto w-auto" id="albumReleaseDate" name="albumReleaseDate" placeholder="*BONUS* Release year" type="number">

                <button class="btn btn-primary" type="submit">Input</button>
            </form>
            <form action="/AlbumGuesser" method="post">
                <button class="btn btn-primary" type="submit">Skip</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> <!-- JQuery library-->
    <script>
        function checkSession() {
            var timerElement = document.getElementById('timer');
            $.ajax({
                url: '/check_session',
                method: 'GET',
                success: function(data) {
                    if (data.status !== 'inactive') {
                        console.log('Session is active.');
                        console.log(data);
                        timerElement.textContent = Math.floor(data.time);
                    } else {
                        console.log('Session is inactive.');
                        var results_url = "{{ results_url }}";
                        window.location.href = results_url; // times up = results
                    }
                },
                error: function() {
                    console.error('Error checking session status.');
                }
            });
        }

        // Check the session every 1 seconds
        setInterval(checkSession, 1000);


    </script>

{% endblock %}