body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

footer {
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #477bff;
    color: #fff;
}

.footer .left-content {
    float: left;
}

.footer .right-content {
    float: right;
}

.header {
    box-sizing: content-box;
    background-color: #477bff;
    color: #fff;
    padding: 2rem 1rem;
    padding-right: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
    width: 95.8vw;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}


.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
    margin: 5px;
}

input[type="text"], input[type="number"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover, input[type="number"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

button:hover,
input[type="submit"]:hover {
    background-color: #a6d3ff; /* Change the background color on hover */
    color: #004085; /* Change the text color on hover */
    border-color: #8cb4e8; /* Change the border color on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow on hover */
}

.button-form {
    margin-right: 10px; /* Add some spacing between buttons */
    display: flex;
}

.horizontal-container {
    display: flex;
    justify-content: center; /* Adjust as needed: flex-start, center, flex-end, space-between, space-around, etc. */
}

p  {
    font-size: 0.7em;
}
